<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Question and Answer App">
        <title>Question and Answer App - New Note</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
   <body>
       <nav>
        <a href="{{ url_for('index') }}"> Home </a> ||
        <a href="{{ url_for('get_questions') }}"> My Posts </a> ||
        <a href="{{url_for('new_question')}}"> New Post </a>
        </nav>


       {% if Question %}
            <form action = "{{url_for('update_question', question_id=question.id)}}" method="post">
       {% else %}
            <form action="new" method="post">
       {% endif %}
           <p><label>Title </label></p><p>  <input type="text" name="title" value="{% if question %}{{question.title}}{% endif %}"/></p>
            <p><label>Question</label></p>
            <p>
                <textarea name="Text"  rows="6" cols="0" >
                    {% if Question %}
                        {{Question.text}}
                    {% else %}
                        Enter new text...
                    {% endif %}
                </textarea>
            </p>
            <p>
                {% if note %}
                    <input type="submit" value="Update Question"/>
                {% else %}
                    <input type="submit" value="Add Question"/>
                {% endif %}
            </p>
       </form>
   </body>
</html>
